name: E2E Tests
on:
  push:

jobs:
  test:
    env:
      POSTGRES_URL: ${{ secrets.TEST_POSTGRES_URL }}
      R2_ACCESS_KEY_ID: ""
      R2_SECRET_ACCESS_KEY: ""
      R2_BUCKET_NAME: ""
      CLOUDFLARE_ACCOUNT_ID: ""
      AUTH_SECRET: "test"
      AUTH_GOOGLE_ID: ""
      AUTH_GOOGLE_SECRET: ""
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Setup mise
      uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3
      with:
        experimental: true
    - name: Install dependencies
      run: pnpm install
    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps
    - name: Build wasm
      run: pnpm build:wasm
    - name: Run Playwright tests
      run: pnpm exec playwright test
      working-directory: web-app
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: web-app/playwright-report/
        retention-days: 30
